html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

img {
    width: 100%;
    display: block;
}

.main-nav {
    list-style: none;
    padding: 0;
}

.hero {
    display: none;
}

@media (min-width: 480px) {
    .main-nav {
        display: flex; /* se voglio gli li in colonna è inutile flexbox */
        flex-direction:row; /* row è il default */
    }

    .hero {
        background-image: url(https://source.unsplash.com/1600x1600?roma);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-center {
        text-align:center;
    }

    .hero h1 {
        color: #fff;
        margin: 0 0 1rem;
    }
}